---
import SectionHeading from "./SectionHeading.astro";
import { siteData } from "../data/site";

type Props = {
  about: typeof siteData.about;
};

const { about } = Astro.props;
---

<section class="section" id="about" aria-labelledby="about-title">
  <div class="shell">
    <SectionHeading
      id="about-title"
      eyebrow="About"
      title={about.heading}
    />
    <div class="about-copy card" data-reveal>
      {about.body.map((paragraph) => (
        <p>{paragraph}</p>
      ))}
    </div>
  </div>
</section>
